<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n° <%= gossip_id %></h2>
    <h3> Son auteur : <%= gossip_author %> </h3>
    <h3> Le contenu du potin : <%= gossip_content %> </h3>
    &nbsp;
    <a href="/">Lien pour revenir à la page des potins</a>
  </body>
</html>